.App-Info > .KeyChords {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-Info > .KeyChords .Chord {
  background: white;
  width: 50%;
  cursor: pointer;
}
