.Chord .Title .Key {
  font-size: 0.6rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Chord .Title .Type {
  font-size: 0.4rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Chord .Title {
  text-anchor: middle;
}
