.header__logo {
  margin: 0;
  white-space: nowrap;
  position: relative;
}

.header__logo__title {
  margin-left: 1.7em;
  font-size: 32px;
}

.header__logo__title__link {
  color:  white;
}

.header__logo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
}

.header__logo__title__link:hover {
  color: #CCC;
}

.header__logo:hover .header__logo__image {
  animation-name: logo;
  animation-duration: 15s;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
