.Chord .Open {
  stroke: #444;
  fill: transparent;
  stroke-width: 0.25;
}

.Chord .Fret {
  fill-opacity: 1;
  fill: #444;
  stroke-width: 0.25;
}

.Chord .Finger {
  font-size: 0.5rem;
  fill: white;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
}

.Chord .Muted {
  font-size: 0.8rem;
  fill: #444;
  font-family: Verdana;
  text-anchor: middle;
}
