.Chord .Open {
  stroke: #444;
  fill: #EEE;
  stroke-width: 0.25;
}

.Chord .Fret {
  fill-opacity: 1;
  fill: #444;
  stroke: #222;
  stroke-width: 0.25;
}

.Chord .Finger {
  font-size: 0.3rem;
  fill: white;
  font-family: Verdana;
  text-anchor: middle;
}

.Chord .Muted {
  font-size: 0.4rem;
  fill: #444;
  font-family: Verdana;
  text-anchor: middle;
}
