.Play {
  cursor: pointer;
}

.Play img {
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-left: .3em;
}

.Play ul {
  margin: 0;
  padding: 0;
}

.Play span {
  cursor: pointer;
  padding: .3em .5em;
  font-size: .8em;
}

.Play span.active {
  background: var(--oc-yellow-4);
  color: var(--oc-red-9);
  border-radius: 5px;
}
