.App {
  text-align: center;
}

.App-Logo {
  height: 8vw;
  margin: 1vw 2vw;
}

.App-Menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-Menu li {
  margin-right: 1em;
}

.App-Menu a {
  text-decoration: none;
  color: #444;
}

.App-Menu a:hover {
  color: red;
  text-decoration: underline;
}

.App-Header {
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-Header > .Title > h2 {
  margin-bottom: 0.3em;
}

.App-Header a {
  text-decoration: none;
  color: #444;
}

.App-Header > .Title > p {
  border-top: 1px solid #222;
  margin: 0;
  padding-top: .5em;
}

.App-Header a:hover {
  color: red;
}

.App-Info .Chords {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-Info .Chords > .Chord {
  background: white;
  width: 20%;
  cursor: pointer;
}

.App-Info a {
  text-decoration: none;
  color: #444;
}

.App-Info a:hover {
  color: red;
  text-decoration: underline;
}
