.App {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
}

.App-Menu {
  border-top: 1px solid var(--oc-gray-2);
  border-bottom: 1px solid var(--oc-gray-5);
  background-color: var(--oc-gray-4);
  margin: 0;
  padding: .5rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-Menu li {
  margin-right: 1em;
}

.App-Menu a {
  text-decoration: none;
  color: #444;
}

.App-Menu a:hover {
  color: var(--oc-cyan-9);
  text-decoration: underline;
}

.App-Header {
  color: var(--oc-gray-0);
  background-color: var(--oc-gray-6);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.5rem;
}

.App-Header > .Title > h2 {
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0.3rem 1.5rem 0;
}

.App-Header > .Title > p {
  margin: 0 1.5rem;
  color: var(--oc-gray-3);
}

.App-Header a {
  text-decoration: none;
  color: var(--oc-gray-0);
}

.App-Header a:hover {
  color: var(--oc-gray-9);
}

.App-Info {
  background-color: var(--oc-gray-0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2rem;
}

.App-Info a {
  text-decoration: none;
  color: #444;
}

