.maingrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

@media screen and (min-width: 768px) {
  .maingrid {
    grid-template-columns: repeat(6, auto);
  }
}

@media screen and (min-width: 992px) {
  .maingrid {
    grid-template-columns: repeat(16, auto);
  }
}

.maingrid > div {
  text-align: center;
}
