.App-Info > .Chords .ChordLink {
  cursor: pointer;
  display: block
}

.App-Info > .Chords > div > .Chord > a > h2 {
  font-size: 2rem;
  margin: .5rem 0 0;
  padding: 0;
}

.App-Info > .Chords > h1 {
  margin: 1rem 2rem 0;
  text-align: center;
}

.App-Info > .Chords > div > .Chord {
  background: transparent;
  border: 1px solid transparent;
  transition: background-color 0.2s ease 0.1s;
  margin: 1em 0 0;
  padding-bottom: .5em;
}

.App-Info > .Chords > div > .Chord:hover {
  background-color: var(--oc-yellow-0);
  border-radius: 8px;
  border: 1px solid var(--oc-yellow-2);
}

.flex-center.no-margin-top {
  margin-top: 0;
}
