.Neck {
  stroke: #444;
  stroke-width: 0.25;
  stroke-linecap: square;
  stroke-linejoin: square;
}

.Note {
  font-size: 0.4rem;
  fill: #444;
  font-family: Verdana;
  text-anchor: middle;
}

.Nut {
  stroke: #444;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
