.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vw;
  margin: 4vw 2vw;
}

.App-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
