html {
  height: 100%;
}

body {
  background: inherit;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
