body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0 auto;
  max-width: 820px;
  padding: 0;
}

.container {
  background: transparent;
  border-radius: 8px;
  outline: 0;
}

.flex-center {
  margin-top: 3em;
  background: transparent;
}
