html {
  height: 100%;
  overflow-y: scroll; /* Always active scrollbar */
  background-color: var(--oc-gray-1);
}

body {
  background: inherit;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  min-height: 100%;
  position: relative;
  margin: 0 10vw;
  padding: 0;
}

.container {
  background: transparent;
  border-radius: 8px;
  outline: 0;
}

.flex-center {
  margin-top: 3em;
  background: transparent;
}
